Source: gapless
Section: misc
Priority: optional
Maintainer: Droidian Project <info@droidian.org>
Build-Depends: debhelper-compat (= 13),
               valac,
               meson,
               ninja-build,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgtk-4-dev,
               libadwaita-1-dev,
               gettext,
               libglib2.0-dev,
               libglib2.0-bin,
               desktop-file-utils,
               libdbus-1-dev

Package: gapless
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends}, 
         dbus
Breaks: g4music (<< 3.3)
Replaces: g4music (<< 3.3)
Description: A fast, fluent, light weight music player written in GTK4,
 with a beautiful, adaptive user interface, focuses on high performance.

Package: g4music
Architecture: all
Depends: gapless (= ${binary:Version})
Description: A fast, fluent, light weight music player written in GTK4 - transitional package
